.raiz{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.imagem{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

